{% set submission_request = notification.context.request %}
{% set community = submission_request.receiver %}
{% set creator = submission_request.created_by %}
{% set record = submission_request.topic %}
{% set request_id = submission_request.id %}

{% set community_title = community.metadata.title %}
{% set record_title = record.metadata.title %}
{% set creator_name = creator.username %}

{# TODO: use request.links.self_html when issue issue is resolved: https://github.com/inveniosoftware/invenio-rdm-records/issues/1327 #}
{% set request_link = "{ui}/me/requests/{id}".format(
    ui=config.SITE_UI_URL, id=request_id
    )
%}

{%- block subject -%}
   {{ _("New record submission for your community '{community_title}' submitted by '{creator_name}'").format(community_title=community_title, creator_name=creator_name) }}
{%- endblock subject -%}

{%- block html_body -%}
<p>
    {{ _("The record '{record_title}' was submitted to your community '{community_title}' by '{creator_name}'.").format(record_title=record_title, community_title=community_title, creator_name=creator_name) }}
</p>

<a href="{{ request_link }}" class="button"> {{ _("Review the submission request") }}</a>
{%- endblock html_body -%}

{%- block plain_body -%}
    {{ _("The record '{record_title}' was submitted to your community '{community_title}' by '{creator_name}'.").format(record_title=record_title, community_title=community_title, creator_name=creator_name) }}

    {{ _("Review the submission request: {request_link}").format(request_link=request_link) }}
{%- endblock plain_body -%}

{# Markdown for Slack/Mattermost/chat #}
{%- block md_body -%}
    {{ _("The record *{record_title}* was submitted to your community *{community_title}* by *{creator_name}*.").format(record_title=record_title, community_title=community_title, creator_name=creator_name) }}

    [{{ _("Review the submission request") }}]({{ request_link }})
{%- endblock md_body -%}
