{% set access_request = notification.context.request %}
{% set creator = access_request.created_by %}
{% set record = access_request.topic %}

{% set record_title = record.metadata.title %}
{% set request_id = access_request.id %}
{# TODO: use request.links.self_html when issue issue is resolved: https://github.com/inveniosoftware/invenio-rdm-records/issues/1327 #}
{% set request_link = "{ui}/me/requests/{id}".format(
    ui=config.SITE_UI_URL, id=request_id
    )
%}

{%- block subject -%}
    {{ _("New access request for '{record_title}'.").format(record_title=record_title) }}
{%- endblock subject -%}

{%- block html_body -%}
<p>
    {{ _("New access request for '{record_title}' was submitted.").format(record_title=record_title) }}
</p>

<a href="{{ request_link }}" class="button"> {{ _("Check out the access request") }}</a>
{%- endblock html_body -%}

{%- block plain_body -%}
{{ _("New access request for '{record_title}' was submitted.").format(record_title=record_title) }}

{{ _("Checkout the access request: {url}").format(url=request_link) }}
{%- endblock plain_body -%}

{# Markdown for Slack/Mattermost/chat #}
{%- block md_body -%}
{{ _("New access request for *{record_title}* was submitted.").format(record_title=record_title) }}

[{{ _("Checkout the access request") }}]({{ request_link }})
{%- endblock md_body -%}
